* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #086788;
  color: #ac25d2;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 50%;
}
header {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 2em;
  h1 {
    background-color: #f0c808;
  }
}
form {
  display: block;
  width: 60%;
  margin: 0 auto;
  background-color: #fff1d0;
}
fieldset.personal-details {
  width: 80%;
  input {
    vertical-align: middle;
    width: 100%;
    height: 2.5em;
  }
}
input {
  width: 25%;
}
footer {
  background-color: #d741a7;
}
