@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap");
:root {
  --main-white: #f0f0f0;
  --bg-color: #10a14c;
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; // Prevent horizontal scrolling
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #333;
}
nav {
  background-color: var(--bg-color);
  color: var(--main-white);
  height: 9vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 1.4rem;
  position: fixed;
  z-index: 2;
  top: 0;
  a {
    color: var(--main-white);
    text-decoration: none;
    width: 4em;
    text-align: center;
    &:nth-child(2) {
      margin: 0 30px;
    }
    &:nth-child(3) {
      &:hover {
        width: 6em;
      }
    }
  }
  a:hover {
    background-color: #2c2d30;
    color: var(--main-white);
  }
}
#welcome-section {
  background-color: #2c2d30;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  h1.title {
    color: var(--main-white);
    font-weight: 700;
    font-size: 3rem;
  }
  p {
    color: var(--bg-color);
    font-size: 1.8rem;
    font-weight: 200;
  }
}
#projects-section {
  color: var(--main-white);
  h2 {
    font-size: 2rem;
    text-align: center;
  }
  .projects-grid-container {
    display: grid;
    justify-items: center;
    width: min(100%, 85em);
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    align-items: center;
    gap: 1em;
    margin: 2em 0;
    padding: 1em;
    a {
      color: var(--main-white);
      text-decoration: none;
    }
  }
  .project-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    a {
      margin: 0;
      padding: 0;
    }
    .project-img {
      aspect-ratio: 16/9;
      width: 100%;
      object-fit: cover;
      vertical-align: bottom;
    }
    p {
      padding: 1em 2em;
      background-color: #2f3841;
      width: 100%;
      height: 4em;
      margin: 0;
    }
  }
}
#contact-section {
  background-color: #303841;
  color: var(--main-white);
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  #submit-btn {
    background-color: var(--bg-color);
    color: var(--main-white);
    padding: 1em 2em;
    border: none;
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 2em;
    position: relative;
    z-index: 1;
    border-radius: 2em;
    &:hover {
      background-color: var(--bg-color);
      color: #000000;
      cursor: pointer;
    }
    &:active {
      background-color: #000000;
      color: #ffffff;
    }
    .fa-icon {
      position: absolute;
      top: 1.12em;
      left: 10.9em;
      z-index: 1;
    }
  }
  h2 {
    font-size: 4rem;
    font-weight: 400;
    padding-top: 1em;
  }
  .fa-icons-grid-container {
    display: grid;
    justify-items: center;
    width: min(100%, 85em);
    grid-template-columns: repeat(auto-fit, minmax(25em, 1fr));
    align-items: center;
    gap: 1em;
    margin: 2em 0;
    padding: 1em;

    a {
      color: var(--main-white);
      text-decoration: none;
    }
    div#mail-div:hover {
      cursor: pointer;
    }
  }
}
footer {
  hr.red-line {
    background-color: var(--bg-color);
    height: 0.5em;
    border: none;
  }
  .footer-grid-container {
    display: grid;
    justify-items: center;
    width: min(100%, 85em);
    grid-template-columns: repeat(auto-fit, minmax(25em, 1fr));
    align-items: center;
    gap: 1em;
    margin: 2em 0;
    padding: 1em;
  }
  background-color: #2c2d30;
  color: var(--main-white);
}

/* Utility Classes */
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}
.container-sm {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Card */
.card {
  background-color: #fff;
  color: #000000;
  border-radius: 10px;
  padding: 20px;
}

// buttons
.btn {
  display: inline-block;
  padding: 13px 20px;
  background-color: var(--light-color);
  color: #333;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
  &:hover {
    opacity: 0.8;
  }
}
.btn-primary {
  background-color: var(--primary-color);
  color: #ffffff;
}
.btn-dark {
  background-color: var(--dark-color);
  color: #ffffff;
}
.btn-block {
  display: block;
  width: 100%;
}
/* Text Classes */
.text-xxl {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 600;
  margin: 40px 0 20px;
}
.text-xl {
  font-size: 2.2rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 40px 0 20px;
}
.text-lg {
  font-size: 1.8rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 30px 0 20px;
}
.text-md {
  font-size: 1.2rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 20px 0 10px;
}
.text-sm {
  font-size: 0.9rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 10px 0 5px;
}
.text-center {
  text-align: center;
}
/* Background */
.bg-primary {
  background-color: var(--primary-color);
  color: #ffffff;
}
.bg-light {
  background-color: var(--light-color);
  color: #333;
}
.bg-dark {
  background-color: var(--dark-color);
  color: #fff;
}
.bg-black {
  background-color: #000000;
  color: #fff;
}
