@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  // margin: 0;
  // padding: 0;
}
body {
  display: flex;
  font-family: "Open Sans", sans-serif;
}
#navbar {
  background-color: red;
  width: 25%;
  height: 280vh;
}
#main-doc {
  width: 80%;
  height: 100vh;
}
code {
  background-color: #1d293a;
  color: #ffffff;
  display: inline-block;
  padding: 1em;
  max-width: 35em;
}
