* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
  background-color: #0e1729;
  color: white;
}
code {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  gap: 2em;
  p {
    max-width: 20em;
  }
}
.p-2 {
  padding: 2em;
}
