* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --penguin-face: white;
}
body {
  background: linear-gradient(45deg, rgb(118, 201, 255), rgb(247, 255, 222));
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.left-mountain {
  width: 300px;
  height: 300px;
  background: linear-gradient(rgb(203, 241, 228), rgb(80, 183, 255));
  position: absolute;
  transform: skew(0deg, 44deg);
  z-index: 2;
  margin-top: 100px;
}
.back-mountain {
  width: 300px;
  height: 300px;
  background: linear-gradient(rgb(203, 241, 228), rgb(80, 183, 255));
  position: absolute;
  left: 110px;
  top: 225px;
  z-index: 1;
  transform: rotate(45deg);
}
.sun {
  width: 200px;
  height: 200px;
  background-color: yellow;
  position: absolute;
  top: -75px;
  right: -75px;
  border-radius: 50%;
}
.penguin * {
  position: absolute;
}
.penguin {
  width: 300px;
  height: 300px;
  margin: auto;
  margin-top: 75px;
  position: relative;
  z-index: 4;
  .penguin-head {
    width: 50%;
    height: 45%;
    background: linear-gradient(45deg, gray, rgb(239, 240, 228));
    border-radius: 70% 70% 65% 65%;
    top: 10%;
    left: 25%;
    z-index: 1;
    .eye {
      width: 15%;
      height: 17%;
      background-color: black;
      position: absolute;
      top: 45%;
      border-radius: 50%;
      .eye-lid {
        width: 150%;
        height: 100%;
        background-color: var(--penguin-face);
        position: absolute;
        top: 25%;
        left: -23%;
        border-radius: 50%;
      }
      .blush {
        width: 15%;
        height: 10%;
        background-color: pink;
        position: absolute;
        top: 65%;
        border-radius: 50%;
      }
      .blush.left {
        position: absolute;
        left: 15%;
      }
      .blush.right {
        position: absolute;
        right: 15%;
      }
    }
    .eye.left {
      left: 25%;
    }

    .eye.right {
      right: 25%;
    }
    .chin {
      width: 90%;
      height: 70%;
      background-color: var(--penguin-face);
      position: absolute;
      top: 25%;
      left: 5%;
      border-radius: 70% 70% 100% 100%;
    }
    .face {
      width: 60%;
      height: 70%;
      background-color: var(--penguin-face);
      border-radius: 70% 60%;
      position: absolute;
      top: 15%;
    }
    .beak {
      height: 10%;
      background-color: orange;
      border-radius: 50%;
    }
    .beak.top {
      position: absolute;
      width: 20%;
      top: 60%;
      left: 40%;
    }
    .beak.bottom {
      position: absolute;
      width: 16%;
      top: 65%;
      left: 42%;
    }
  }
  .penguin-body {
    width: 53%;
    height: 45%;
    background: linear-gradient(
      45deg,
      rgb(134, 133, 133) 0%,
      rgb(234, 231, 231) 25%,
      white 67%
    );
    border-radius: 80% 80% 100% 100%;
    top: 40%;
    left: 23.5%;
    .shirt {
      font-size: 25px;
      font-family: Helvetica, sans-serif;
      font-weight: bold;
      position: absolute;
      top: 165px;
      left: 127.5px;
      z-index: 1;
      div {
        font-weight: normal;
        position: absolute;
        top: 22.5px;
        left: 12px;
      }
    }
  }
  .penguin-body::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 45%;
    background-color: gray;
    top: 10%;
    left: 25%;
    border-radius: 0% 0% 100% 100%;
    opacity: 70%;
  }
}

.ground {
  width: 100vw;
  height: 400px;
  background: linear-gradient(90deg, rgb(88, 175, 236), rgb(182, 255, 255));
  z-index: 3;
  position: absolute;
  margin-top: -58px;
}
.left {
  left: 5%;
}
.eye {
  width: 15%;
  height: 17%;
  background-color: black;
}
